{{#if success_msg}}
<div class="ps-5" style="background-color: rgb(134, 194, 78);">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class=" ps-5" style="background-color: rgb(194, 194, 78);">{{error_msg}}</div>
{{/if}}