<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense-Tracker</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body style="background-color: #9cc4b2;">
    {{{body}}}
    <script src="/javascript/bootstrap.js"></script>
</body>
</html>