{{>navbar}}
<div class="container w-50  mt-5">
    <form action="/user/register" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">name</label>
            <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" name="name" placeholder="請輸入你的name" >
        </div>
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="email" placeholder="請輸入你的email" required>
        </div>
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" name="password" placeholder="請輸入你的密碼" required>
        </div>
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">confirmPassword</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="請輸入相同密碼" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   
</div>